+++

Title = "Divorce"
linkTitle = "Divorce"
breadcrumb_disable = true
toc_hide = "true"
hideMainMenu = true
MainMenu_hide = true
+++







{{< blocks/cover title="Welcome to the VA Uncontested Divorce Homepage!" image_anchor="top" height="full" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://ura2j.gitlab.io/netwit/tenant/rights/">
		Learn About Your Rights<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://ura2j.gitlab.io/netwit/tenant/docs/">Fill out and File Forms <i class="fas fa-edit"></i>
	</a>
</div>

<div class="mx-auto">
	<a class="btn btn-lg btn-success mr-3 mb-4" href="https://ura2j.gitlab.io/netwit/tenant/legal-help/">Legal Help <i class="fas fa-balance-scale-left"></i>
	</a>
	<a class="btn btn-lg btn-danger mr-3 mb-4" href="https://ura2j.gitlab.io/netwit/tenant/community/">
		Community <i class="fas fa-user-friends"></i>
	</a>
</div>


	
{{< /blocks/cover >}}
